@mixin GeneralDropdown($right: null, $left: null) {
  background-color: var(--el-menu-bg-color);
}

// Common style for li tags under dropdown
@mixin GeneralDropdownLi {
  min-width: 150px;
  width: auto;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Common style for a tags under dropdown
@mixin GeneralDropdownA {
  font-size: 13px;
  font-weight: 300;
  padding: 0 15px;
}

// Common style for a tags inside li under dropdown
@mixin GeneralDropdownLia {
  width: 100%;
  color: var(--el-text-color-light);

  &:hover {
    cursor: pointer;
    background-color: var(--el-menu-hover-bg-color);
  }
}

@mixin DropdownHover {
  background-color: var(--el-menu-hover-bg-color);

  .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
